#app {
	border:solid black 1px;
	display:inline-block;
}
.gridZoom {
	border:solid red 1px;
	position:relative;
	overflow:hidden;
}
.picture {
	border:solid purple 1px;
}
.grid {
	border:solid green 1px;
	position:absolute;
	top:0;
	left:0;
	height:100%;
}

.gridZoom, .picture, .grid {
	width:600px;
}